$button-dark: rgb(92, 92, 92);
$button-light: #ccc;
.login__button {
  margin: 1em;
  border: 4px black;
  padding: 1em;
  box-shadow: 0.2px 0.3px 0.6px 0.3px var(--varner-grey);
  background-color: $button-dark;
  color: $button-light;
  font-size: 2em;
  &:focus {
    outline: none;
    box-shadow: 0.3px 0.4px 0.8px 0.4px var(--varner-grey);
  }
}
