.heart {
  margin: 1em;
  position: relative;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(213, 11, 24, 1) 0%,
    rgba(63, 94, 251, 1) 100%
  );
  height: 30px;
  width: 30px;
  transform: rotate(-45deg);
  animation: beat 1s infinite;
}
.heart:after {
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(213, 11, 24, 1) 100%
  );
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0px;
  left: 15px;
}
.heart:before {
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(213, 11, 24, 1) 0%,
    rgba(63, 94, 251, 1) 100%
  );
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 30px;
  height: 30px;
  top: -15px;
  left: 0px;
}

@keyframes beat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(0.9) rotate(-45deg);
    background: rgb(63, 94, 251);
    background: linear-gradient(
      90deg,
      rgba(213, 11, 24, 1) 0%,
      rgba(63, 94, 251, 1) 100%
    );
  }
}
