.heart {
  position: relative;
  background-color: yellow;
  height: 30px;
  width: 30px;
  transform: rotate(-45deg);
  animation: beat 1s infinite;
}
.heart:after {
  background-color: yellow;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0px;
  left: 15px;
}
.heart:before {
  background-color: yellow;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 30px;
  height: 30px;
  top: -15px;
  left: 0px;
}

@keyframes beat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(0.9) rotate(-45deg);
  }
}
