@import "./../variables.scss";

.error {
  &__card {
    margin: 1rem 0;
    padding: 1em;
    border: 1px solid black;
    padding: 0.6em 0.4em;
    background: $primpary-red;
    border: 1px solid darken($primpary-red, 4%);
    box-shadow: 0px 2px 0 darken($primpary-red, 5%),
      2px 4px 6px darken($primpary-red, 2%);
    letter-spacing: 1px;
  }
  &__msg {
    &-desc {
      color: $error-color;
    }
  }
}
