//colors
$primary: rgba(31, 43, 59, 0.781);
$dark-gray: rgba(122, 122, 122, 0.8);
$gray: rgba(230, 230, 230, 0.8);

.logout {
  &__btn {
    background: $dark-gray;
    color: black;
    border: 1px solid darken($dark-gray, 4%);
    &:hover {
      color: lighten($gray, 18%);
    }
  }
}
