@import "./../../variables.scss";

.logout {
  &__btn {
    background: $dark-gray;
    color: black;
    border: 1px solid darken($dark-gray, 4%);
    &:hover {
      color: lighten($gray, 18%);
    }
  }
}
