//colors
$primary: rgba(31, 43, 59, 0.781);
$dark-gray: rgba(122, 122, 122, 0.8);
$gray: rgba(230, 230, 230, 0.8);
$gray-light: #ccc;
$error-color: rgb(200, 19, 19);
$primpary-red: rgba(213, 11, 24, 0.2);

// media query
$layout-bp-mobile: 480px;
$layout-bp-tablets: 768px;
$layout-bp-laptops: 1024px;
$layout-bp-desktop: 1200px;
$layout-bp-tv: 1201px;
