@import "./../../variables.scss";
.table {
  margin: 1em 0;
  width: 100%;
  margin-bottom: 1em;
  border-collapse: collapse;
  border: 2px solid $dark-gray;
  &__row {
    padding: 0.5em;
    &-headers {
      padding: 1em;
      font-weight: bold;
      background-color: lighten($primary, 20%);
    }
  }
  &__col {
    border: 1px solid $gray-light;
    text-align: center;
  }
}

